* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  --h1: #000f37;
  --h2: #000f37;
  --p: #4f4f4f;
  font-family: sans-serif;
  font-size: 62.5%;
}

header {
  padding-bottom: 80px;
}

.nnp {

  font-size: 30px;
}



.logo {
  width: 5rem;
  length: 5rem;
  margin-left: 30px;
  margin-top: 30px;
  
}

.menu {
  width: 40px;
  height: 40;
  float: right;
  margin-right: 40px;
  margin-top: -60px;
  
}

p {
  font-weight: lighter;
  margin-top: 20px;

}

.text {
  display: inline-block;
  border: 2px;
  width: 400px;
  height: 400px;
  margin-left: 60px;
  margin-top: 90px;
}

.image {
  width: 60px;
  height: 60px;
  margin-right: 700px;
  float: right;
  margin-top: 40px;
  
  
}

.text2 {
  color: white;
  border: 20px;
  color: #000f37;
  background-color: rgb(25, 205, 236);
  width: 30%;
  height: 40px;
  padding: 15px;
  margin-top: 50px;
  text-align: center;
}

.part2 {
    background-color: rgb(100, 207, 240);
    height: 600px;
    margin-top: 10rem;
    text-align: center;
    padding-top: 2rem;
}

.box {

    background-color: white;
    width: 600px;
    height: 320px;
    margin: 8rem auto;
    padding: 8rem;


}



.image2 {
    width: 25rem;
    height: 25rem;
    margin-top: -40px;
    float: right;
    


}

ul {
 list-style-type: none;
 float: left;
 font-weight: bolder;
 line-height: 30px;
 text-align: left;
 margin-top: 3rem;
}

li::before {
  content: "" ;
  background-image: url(./assets/svg/check-mark.svg);
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  padding: 2rem;
  margin-left: 2rem;

}

  footer {

    margin: 40px;
    

    

  }
  


  


.footleft {

  
 
  
}

.icons {
  float: right;
  padding-bottom: 50px;

  
  
  
  



  
}




/*.twitter {
  float: right;
  margin-right: 30px;
  margin-top: -15px;
  
  


}

.instagram {
  float: right;
  margin-right: 30px;
  margin-top: -15px;


}

.youtube {
  float: right;
  margin-right: 30px;
  margin-top: -15px;
  


}*/
  







